.header {
    background-color: black;
    display: flex;
    height: 50px;
    align-items: center;
    position: sticky;

}

.header__logo {
    margin: 0px 20px;
    width: 60px;
    object-fit: contain;
    margin-top: 13px;
}

.header__searchbar {
    margin: 20px 20px;
    width: 100%;
    display: flex;
    flex:1;
}

.header__navigation {
    display: flex;
    margin-right: 0px;
    
}

.nav__element {
    color:white;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
}